.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$header-color: #10101a;

.dashboard {
  font-family: "Roboto", sans-serif;
  .header {
    background-color: $header-color;
    padding: 0px 32px;
    height: 52px;
    display: flex;
    justify-content: space-between;

    .header-left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .link {
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.75px;
      padding: 0px 20px;
      height: 100%;
      user-select: none;
      color: #d3d4d6;
      text-decoration: none;
    }
    .link-inner {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .img-container {
      height: 100%;
      aspect-ratio: 1;
      padding: 14px 10px 17px 0px;
    }
    a {
      cursor: pointer;
    }
    .header-right {
      height: 100%;
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #d3d4d6;
      text-decoration: none;
      margin: 0px;
      padding: 0px;
    }
  }
}

h1 {
  margin: 0px;
}
